*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
.cursive{
    font-size: 55px;
    font-family: Brush Script MT, Brush Script Std, cursive;
}
.nav.ul,li{
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
}
img{
    object-fit: contain;
    width: 100%;
    height: auto;
}
.button{
    border: 1px solid #ccc;
}
ul{
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    text-align: center;
}

.gallery{
    display: grid;
    grid-gap: 1em;
    
    grid-template-columns: repeat(3,300px);
}
.gallery-item{
    padding: 10px;
    background-color: azure;
    border: 1px solid rgb(149, 149, 149);
    border-radius: 20px;
}

.footer{
    background-color: floralwhite;
    height: 50px;
    position: fixed;
    bottom: 0px;
}