* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(238, 113, 113, 0.5);
}

h1 {
    text-align: center;
}

.cursive {
    font-size: 55px;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

.nav ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav ul.topnav li {
    float: right;
}

.nav ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

.nav ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

.nav ul.topnav li a.active {}

.nav ul.topnav li.left {
    float: left;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}

img {
    object-fit: contain;
    width: 100%;
    height: auto;
}

.button {
    border: 1px solid #ccc;
}

.gallery {
    display: grid;
    grid-gap: 1em;
    justify-content: center;
    grid-template-columns: repeat(3, 300px);
}

.gallery-item {
    padding: 10px;
    background-color: azure;
    border: 1px solid rgb(149, 149, 149);
    border-radius: 20px;
}

.gallery-item:hover {
    border: 1px solid rgb(31, 31, 31);
}

.footer {
    position: absolute;
    width: 100%;
    background-color: floralwhite;
    height: 50px;
    bottom: 0px;
    text-align: center;
}